<!DOCTYPE html>
<html>
    <head>
        <title><%= title%></title>
    </head>
    <body>
        <h1>Add Image:</h1>
        <form action='/image' method="POST">
            <input type='text' name='name'/>
            <input type='text' name='image'/>
            <input type='submit'/>
        </form>
    </body>
</html>