.item-list{
    display:flex;
    justify-content:center;
    flex-direction: row;
    width:80%;
    margin:0 auto;
}
.list-item{
    list-style: none;
}
.list-item > img {
    border:3px solid #ccc;
    border-radius: 5px 5px;
}

.pages{
    width:20%;
    margin:20px auto;
    display: flex;
}
.pages a{
    text-decoration: none;
    border:1px solid #ccc;
    border-radius: 5px 5px;
    padding:5px 10px;

}
.pages a:hover, .pages a:active, .pages a.active{
    background-color: green;
    color:#fff;
}
.prev-button{
    width:20%;
}
.page-button{
    width:35%;
}
.page-button > span{
    width:20%;
}
.next-button{
    width:20%;
}


